:root{
	--bg:#222222;
	--softBg:#999999;
	--txt:#eeeedd;
	
	--tint01:#ed7411;
	--tint010:#555555;
	--tint02:red;
	--tint03:#00aaaa;
	--tint04:#ff00ff;
	
}
		
*{
	background-color: var(--bg);
	color: var(--txt);
	font-family: lato, sans-serif;
}

.tst{
	background-color: #ff0000;
	font-size: 50px;
	
}

.bord{
	border-color: var(--txt);
	border-style: solid;
	border-width: 1px;
	border-radius: 12px;
	background-color: #aabbcc00;
}

.row{
	text-align: center;
	display: flex;
	flex-direction: row;
	
}

.col{
	text-align: center;
	display: flex;
	flex-direction: column;
	
	align-items: center;
}

.row-item{
	margin-left: auto;
	margin-right: auto;
	
}

.player{
	flex:1;
	background-color: var(--bg);
	
	
	
	border-color: var(--txt);
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
	
	
	
}
.player-info{
	margin-top: 5px;
	background-color: #aabbcc00;
	border-color: var(--txt);
	border-style: solid;
	border-width: 1px;
	border-radius: 12px;
	
	width: 50px;
	height: 50px;
	
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content:center;
}
.player-nick{
	background-color: #aabbcc00;
	font-size: 10px;
}
.player-lance{
	
	background-color: #aabbcc00;
	font-size: 24px;
	
}



.player-field{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	
}


.name{
	font-weight: thin;
	color: var(--bg);
	background-color: #aabbcc00;
}

.hand{
	min-width: 60%;
	margin-top: auto;
	
	margin-bottom: auto;
	margin-right: 20px;
	margin-left: 20px;
	display: flex;
	justify-content: space-evenly;
	height:70px;
	color: var(--bg);
	
	background-color: #aabbcc00;
	
}

.my-lance-wrapper{
	min-width: 80px;
	justify-content: space-evenly;
	background-color: #aabbcc00;
	
}


#lance{
	font-weight: 700;
	font-size: 32px;
	
	display:flex;
	flex-direction: column;
	justify-content: space-evenly;
	
	color: var(--bg);
	background-color: #aabbcc00;
	
}

.btn-lance{
	font-weight: bolder;
	font-size: 16px;
	border-radius: 10px; 
	
	
	width: 40px;	
	
	background-color: #aabbcc00;
	color: var(--bg);
	
	transition: color 0.3s, background-color 0.3s;
}

.btn-lance:hover{
	background-color: var(--bg);
	color: var(--txt);
	border-color: #aabbcc00;
}


@KeyFrames flip-k{
	
	00%{
		transform: rotateY(0deg);
		
	}
	15%{
		transform: rotateY(25deg);
		background-color:white;
	}
	95%{
		transform: rotateY(150deg);
		background-color:orange;
	}
	100%{
		transform: rotateY(180deg);
		background-color:red;
	}
}
@KeyFrames flip{
	0%{
		transform: rotateY(0deg);
		
	}
	15%{
		transform: rotateY(25deg);
		background-color:white;
	}
	95%{
		transform: rotateY(150deg);
		background-color:teal;
	}
	100%{
		transform: rotateY(180deg);
		background-color:blue;
	}
}

.card{
	
	margin : 2px;
	
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content:center;
	
	
	background-color: var(--bg);
	
	
	border-color:var(--txt);
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;
	
	
	color: yellow;
	width: 35px;
	height: 55px;
	animation: ttremilique 0.4s linear alternate infinite;
	transition: background-color 0.65s, color 0.2;
	
}

.card[h]{
	transform: translateY(80%);
}

.card[u][h]{
	transform: translateY(20%);
}



body{
	background-color: #aabbcc00;
	justify-self: center;
	display: flex;
	justify-content: center;
	width: 98%;
	height: 100%;
}

#view{
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	
	min-width: 100%;
	height: 560px;
	
	
	
}



#field{
	flex: 1;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	
	min-height: 337px;
}

#panel{
	

	border-color: #aabbcc00;
	border-style: solid;
	border-width: 2px;
	border-radius: 12px;
	
	height: 120px;
	width: 90%;
	color: var(--bg);
	background-color: var(--txt);


}

#lance-n{
	font-size: 20px;
	font-weight: 700;
	background-color: var(--txt);
	color: var(--bg);

}
