:root{
	--bg:#222222;
	--bg2:#333333;
	--softBg:#999999;
	--txt:#eeeedd;
	
	--tint01:#ed7411;
	--tint010:#555555;
	--tint02:red;
	--tint03:#00aaaa;
	--tint04:#ff00ff;
	
}
		
*{
	background-color: var(--bg);
	color: var(--txt);
	font-family: lato, sans-serif;
}

h1{
	font-size: 32px;
	font-color: var(--txt);
}

h2{
	font-size: 20px;
	font-color: var(--txt);
}

h3{
	font-size: 18px;
	font-color: var(--txt);
}

.jg-title{
	color: var(--tint01)

}
.jg-title[x]{
	color: var(--tint01)

}

.jg{

	background-color: var(--txt);
	color: var(--bg);
	height: 30px;
	width: 30px;
	border-radius: 12px;
	
}
.jg[x]{

	background-color: var(--tint01);
	color: var(--bg);
	height: 30px;
	width: 30px;
	border-radius: 12px;
	
}
.jg[o]{

	background-color: var(--tint03);
	color: var(--bg);
	height: 30px;
	width: 30px;
	border-radius: 12px;
	
}



.in{
	border-color: var(--softBg);
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	
	margin-left:20px;
	margin-right:20x;
	margin-top: 10px;
	margin-bottom: 10px;
	
	height: 30px;
	width: 100%;
	
	font-size: 16px;
	
	background-color: var(--txt);
	color: var(--bg);
}
::placeholder{
	color: var(--tint010);
	font-size: 12px;
	

}


.btn{
	color: var(--txt);
	background-color: #aabbcc00;
	border-color: var(--txt);
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;
	
	margin-left:5px;
	margin-right:5px;
	margin-top: auto;
	margin-bottom: auto;
	
	min-height: 35px;	
	min-width: 35px;
	transition: background-color 0.2s;
}

.btn:hover{
	background-color: var(--bg2);
}





.bord{
	border-color: var(--txt);
	border-style: solid;
	border-width: 1px;
	border-radius: 12px;
	background-color: #aabbcc00;
}


.row{
	text-align: center;
	display: flex;
	flex-direction: row;
	
}

.col{
	text-align: center;
	display: flex;
	flex-direction: column;
	
	align-items: center;
}

.tst{
	background-color: #ff0000;
	font-size: 50px;
	
}



.row-item{
	margin-left: auto;
	margin-right: auto;
	
}



